body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgba(13, 13, 13, 0.95);
  border-radius: 10px 10px 0 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.header{
  background-color: rgba(13, 13, 13, 0.95);
  border-radius: 0 0 10px 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.container{
  margin-top: 100px;
  margin-bottom: 100px;

}

#na{
  /* border: 1px solid green; */
  margin-left: 400px;
  margin-top: 100px;

}

.home{
  background-color: rgba(0, 240, 255, 0.10);

}

.home_words{
  position: fixed;
  top:300px;
  /* border: 1px solid green; */
}



.search{
  /* border: 1px solid green; */
  width: 30%;
  position:fixed;
  right:40px;
}

textarea {
  width: 300px;
  height: 150px;
}

.profile{
  background-color: rgba(0, 240, 255, 0.10);
  width: 50%;
  margin-left: 300px;
  text-align: center;
}

.posts{
  /* border: 1px solid green */
  background-color: rgba(0, 240, 255, 0.10);

}

.post{
  /* border: 1px solid green */

}

ul {
  list-style-type: none;
}
